@import "tailwindcss";

@theme {
  --color-miniwidget: #112240;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Stack Sans Headline', sans-serif;
    color: #fff;
}

.animated-bg {
  background:
    radial-gradient(circle at 20% 30%, #243b55, transparent 50%),
    radial-gradient(circle at 80% 70%, #1b263b, transparent 50%),
    #0d1b2a;

  background-size: 150% 150%, 150% 150%, 100% 100%;
  background-position: 20% 30%, 80% 70%, 0% 0%;

  animation: auroraMove 20s ease-in-out infinite alternate;
}

@keyframes auroraMove {
  0% {
    background-position: 20% 30%, 80% 70%, 0% 0%;
  }
  100% {
    background-position: 40% 50%, 60% 40%, 0% 0%;
  }
}

/* 👇 IMPORTANTE: layers continuam funcionando */
@layer components {
  .heading-text {
    @apply text-white p-4;
  }

  .underline-effect {
    @apply relative p-0 text-white;
  }

  .underline-effect::after {
    content: '';
    @apply absolute w-full h-0.5 left-0 -bottom-0.5 bg-orange-300 origin-bottom-right scale-x-0 transition-transform duration-300;
  }

  .underline-effect:hover::after {
    @apply origin-bottom-left scale-x-100;
  }
}
